body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.menu-item,
.bebida-item,
.aperitivo-item,
.drink-item,
.sobremesa-item,
.especialidade-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 1em;
    padding: 1em;
    width: calc(33% - 2em);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-item img,
.bebida-item img,
.aperitivo-item img,
.drink-item img,
.sobremesa-item img,
.especialidade-item img {
    max-width: 100%;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
